<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Template LAN Party</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <!--<app-root></app-root>-->
    <nav>
        <!--PLACEHOLDER MOET IN JS GEMAAKT WORDEN-->
        <span>HOME</span>
        <span>EVENTS</span>
        <span>WHAT GAMES</span>
        <span>DISCORD</span>
    </nav>
    <div class="content" role="main">
        <header>
            THE OFFICIAL VISTA LAN-PARTY
        </header>

        <div class="timer-container">
            <div class="timer-box">
                <span id="days"></span>
                <span>DAYS</span>
            </div>
            <div class="timer-box">
                <span id="hours"> </span>
                <span>HOURS</span>
            </div>
            <div class="timer-box">
                <span id="minutes"></span>
                <span>MINUTES</span>
            </div>
            <div class="timer-box">
                <span id="seconds"></span>
                <span>SECONDS</span>
            </div>
        </div>

        <button class="info-button">WHAT IS A LAN PARTY</button>
        <button class="reserve-button">RESERVE</button>
    </div>
</body>

</html>