<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Template LAN Party</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!--<app-root></app-root>-->
    <div class="nav" role="banner">
        <!--PLACEHOLDER MOET IN JS GEMAAKT WORDEN-->
        <span>HOME</span>
        <span>EVENTS</span>
        <span>WHAT GAMES</span>
        <span>DISCORD</span>
    </div>
    <div class="content" role="main">
        <header>
            THE OFFICIAL VISTA LAN-PARTY
        </header>

        <div class="timer-container">
            <div class="timer-box">
                <span id="days"></span>
                <span>DAYS</span>
            </div>
            <div class="timer-box">
                <span id="hours"> </span>
                <span>HOURS</span>
            </div>
            <div class="timer-box">
                <span id="minutes"></span>
                <span>MINUTES</span>
            </div>
            <div class="timer-box">
                <span id="seconds"></span>
                <span>SECONDS</span>
            </div>
        </div>

        <button class="left-button">WHAT IS A LAN PARTY</button>
        <button class="right-button">RESERVE</button>
    </div>
</body>

</html>