#clockdiv{
    font-size: 3em;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 50%;
    left: 27%;
    padding: 20px;
    width: 700px;
    color: white;
  }
  
  #clockdiv > div{
    display: inline-block;
    min-width: 90px;
    padding: 15px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 15px;
  }
  
  #clockdiv div > span{
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: 1em;
    font-weight: 400;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }


