/************************************
//Ricky Dupuits: Frond end.
//Jack Kartoush & Tamas Nemes: Sponsor Front end
//
//
//
//
//Version: v0.1
************************************/

.prev,
.next {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: #FE53BB;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
  animation: flicker 1.5s infinite alternate;

}

.next {
  right: 0;
}

.prev:hover {
  transform: translateX(-10px);
}

.next:hover {
  transform: translateX(10px);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FE53BB;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.6;
}

.active,
.dot:hover {
  color: #FE53BB;
  opacity: 1;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  z-index: 1;

}

.slide {
  opacity: 0.6;
  max-width: 80%;
  max-height: 500px;
}

.sponser-foto {
  box-shadow: 0 0 4px #fff,
    0 0 11px rgb(101, 101, 101),
    0 0 19px rgb(101, 101, 101),
    0 0 3px #B76CFD,
    0 0 4px #B76CFD,
    0 0 6px #B76CFD,
    0 0 8px #B76CFD,
    0 0 10px #B76CFD;
  ;
  width: 100%;
  height: 100%;
}

.sponsor-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  height: auto;

}

.sponsor-page-container .sponsor-box {
  position: relative;
  width: 100%;
  height: 100%;

}

.sponsor-box-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;
  padding: 0.5rem;
}

.sponsor-box {
  box-shadow: 0 0 4px #fff,
    0 0 11px rgb(101, 101, 101),
    0 0 19px rgb(101, 101, 101),
    0 0 3px #08F7FE,
    0 0 4px #08F7FE,
    0 0 6px #08F7FE,
    0 0 8px #08F7FE,
    0 0 10px #08F7FE;
  ;

}

.sponsor-foto {
  width: 100%;
  height: auto;
}

.sponsor-page-container .projecten-box img {

  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.sponsor-info {
  width: 100%;

}

.sponsor-info-link,
a {

  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}


.popup-info-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.popup-info-header .popup-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.popup-info-header .close-btn {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.popup-info-content {
  padding: 10px 15px;
}


.popup-info3 .close-popup {
  display: flex;
  justify-content: center;
  align-items: center;

}

.close-popup .close-popup-btn {
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #ffff;
  font-size: 1.25rem;
}

.sponsor-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}

#page-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;

}

#page-overlay.page-active {
  opacity: 1;
  pointer-events: all;

}

.sponsor-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sponsor-btn-info {
  width: 50%;
  margin-left: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  background-color: transparent;
}

/*pop up info 1*/
.popup-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 5;
  background-color: #ffff;
  width: 40rem;
  height: auto;
  overflow-y: scroll;
}

.popup-info.page-active {
  transform: translate(-50%, -50%) scale(1);

}

/*popup info 2*/
.popup-info2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 900;
  background-color: #ffff;
  width: 40rem;
  max-width: 80%;
}

.popup-info2.page-active {
  transform: translate(-50%, -50%) scale(1);
}

/*PopUp info 3*/
.popup-info3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 900;
  background-color: #ffff;
  width: 40rem;
  max-width: 80%;
}

.popup-info3.page-active {
  transform: translate(-50%, -50%) scale(1);
}