<!DOCTYPE html>

<!-- 
//************************************
//Ricky Dupuits: Frond end.
//
//
//
//
//
//Version: v0.1
//*************************************
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISTA LANparty</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    
</head>
<body>	
        <img class="wallpaper" src="images/LAN-Event.jpg">
		<!--<img class="sign" src="images/sign.png">-->
	<nav class="stickynav">
		<ul class="menu">
			<li><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#which_games">Which Games</a></li>
            <li><a href="https://discord.gg/q3hEvcKSf9">Discord</a></li>
		</ul>
	</nav>

    <div id="welcomescreen">
        
        <div class="neonText">
            <h1>The Official Vista LAN-Party</h1>
        </div>
    <!-- <div class="welcome-btn">
        <a href="#footer" class="cv">Reservate</a>
        </div> -->
<div id="clockdiv">
        <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>
<script src="css/test.js"></script>


</section>




</div>
<div id="which_games">
    <div class="mooi"><h5>..</h5></div>
    <div class="events">
        <h1>Which Games</h1>
    </div>
<div class="container">
    
    <!-- <div class="card card1">
        <div class="border">
            <h2>Places left</h2>
        </div>
    </div>

    <div class="card card2">
        <div class="border">
            <h2>Places left</h2>
        </div>
    </div>

    <div class="card card3">
        <div class="border">
            <h2>Places left</h2>
        </div>
        </div>
        </div>
    </div>
</div> -->



<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card card1">
            <div class="border">
                <h2>Places left</h2>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card2">
            <div class="border">
                <h2>Places left</h2>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card3">
            <div class="border">
                <h2>Places left</h2>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card4">
            <div class="border">
                <h2>Places left</h2>
            </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card5">
            <div class="border">
                <h2>Places left</h2>
            </div>
        </div>
      </div>
      <!-- <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div> -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>



    <!--------- SCROLLDOWN INDICATOR ---------->

<div class="scrolldown">
    <span></span>
    <span></span>
    <span></span>
</div>

</body>
</html>