<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <title>Party-lan sponsors </title>
    <link rel="stylesheet" type="text/css" href="css/sponsor-additional.css"/>
</head>
<body>
  <img class="wallpaper" src="./Sonsor_bg.jpg">
  <div class="neonText">
    <h1> Party_lan Sponsors</h1>
  </div>
    
  
        
    <nav class="stickynav">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#which_games">Which Games</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="https://discord.gg/q3hEvcKSf9">Discord</a></li>
        </ul>
      </nav>
      <div class="slide-content">

        <div class="slideshow-container">
          <a class="prev" onclick="changeSlides(-1)">&#10094;</a>
          <div class="slide">
            <img src="images/BG_outrun_car.jpg" class="sponser-foto">
          </div>
    
          <div class="slide">
            <img src="images/Sonsor_bg.jpg"  class="sponser-foto">
          </div>
    
          <div class="slide">
            <img src="images/BG_outrun_car.jpg"  class="sponser-foto">
          </div>
    
          <div class="slide">
            <img src="images/outrun style.jpg"  class="sponser-foto">
          </div>
    
          
          <a class="next" onclick="changeSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
      </div>


<!-- For the popup -->
<div class="sponsor-page-container">

  <div class="sponsor-box-txt">
      <div class="sponsor-box">
        <img src="images/BG_outrun_car.jpg" alt="Foto Not Found" class="sponsor-foto">
        </div>
      <div class="sponsor-info">
          <div class="sponsor-btn-container">
              <button class="sponsor-btn-info"><a class="sponsor-info-link" href="#">Web-link</a></button>
              <button data-info-target="#popupInfo" class="sponsor-btn-info">Meer info</button>
          </div>
          <div class="popup-info" id="popupInfo">
              <div class="popup-info-header">
                  <div class="popup-title">Sponsor Name</div>
                  <button data-close-button class="close-btn">&times;</button>
              </div>
              <div class="popup-info-content">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam commodi fugit consectetur
                  illo optio dolor, dolores ad earum dolore reprehenderit, blanditiis magni. Officia quam omnis
                  inventore doloribus obcaecati mollitia nostrum quo quos ipsam ad deserunt nam, quisquam natus ex
                  maiores cum dolor harum. Quidem delectus placeat quos quam, quo dolor neque dolorem. Totam
                  dignissimos deleniti nam maiores commodi iusto consectetur ipsa soluta velit! Voluptas enim
                  omnis sit qui quod pariatur iste repellendus, voluptates, ratione tempora minus assumenda sed
                  quis!
              </div>
              <div class="close-popup">
                  <button data-close-button class="close-popup-btn">close</button>
              </div>
          </div>

      </div>
  </div>
  <!-- sponsor 2 -->
  <div class="sponsor-box-txt">
    <div class="sponsor-box">
      <img src="images/BG_outrun_car.jpg" alt="Foto Not Found" class="sponsor-foto">
      </div>
    <div class="sponsor-info">
        <div class="sponsor-btn-container">
            <button class="sponsor-btn-info"><a class="sponsor-info-link" href="#">Web-link</a></button>
            <button data-info2-target="#popupInfo2" class="sponsor-btn-info">Meer info</button>
        </div>
        <div class="popup-info2" id="popupInfo2">
            <div class="popup-info-header">
                <div class="popup-title">Sponsor Name 2</div>
                <button data-close-button class="close-btn">&times;</button>
            </div>
            <div class="popup-info-content">
                Lorem, ipsum dolor sit amet 2 consectetur adipisicing elit. Sunt magnam commodi fugit consectetur
                illo optio dolor, dolores ad earum dolore reprehenderit, blanditiis magni. Officia quam omnis
                inventore doloribus obcaecati mollitia nostrum quo quos ipsam ad deserunt nam, quisquam natus ex
                maiores cum dolor harum. Quidem delectus placeat quos quam, quo dolor neque dolorem. Totam
                dignissimos deleniti nam maiores commodi iusto consectetur ipsa soluta velit! Voluptas enim
                omnis sit qui quod pariatur iste repellendus, voluptates, ratione tempora minus assumenda sed
                quis!
            </div>
            <div class="close-popup">
                <button data-close-button class="close-popup-btn">close</button>
            </div>
        </div>

    </div>
</div>
  <!-- sponsor 3 -->
  <div class="sponsor-box-txt">
    <div class="sponsor-box">
      <img src="images/BG_outrun_car.jpg" alt="Foto Not Found" class="sponsor-foto">
      </div>
    <div class="sponsor-info">
        <div class="sponsor-btn-container">
            <button class="sponsor-btn-info"><a class="sponsor-info-link" href="#">Web-link</a></button>
            <button data-info3-target="#popupInfo3" class="sponsor-btn-info">Meer info</button>
        </div>
        <div class="popup-info3" id="popupInfo3">
            <div class="popup-info-header">
                <div class="popup-title">Sponsor Name 3</div>
                <button data-close-button class="close-btn">&times;</button>
            </div>
            <div class="popup-info-content">
                Lorem, ipsum dolor sit amet 3 consectetur adipisicing elit. Sunt magnam commodi fugit consectetur
                illo optio dolor, dolores ad earum dolore reprehenderit, blanditiis magni. Officia quam omnis
                inventore doloribus obcaecati mollitia nostrum quo quos ipsam ad deserunt nam, quisquam natus ex
                maiores cum dolor harum. Quidem delectus placeat quos quam, quo dolor neque dolorem. Totam
                dignissimos deleniti nam maiores commodi iusto consectetur ipsa soluta velit! Voluptas enim
                omnis sit qui quod pariatur iste repellendus, voluptates, ratione tempora minus assumenda sed
                quis!
            </div>
            <div class="close-popup">
                <button data-close-button class="close-popup-btn">close</button>
            </div>
        </div>

    </div>
</div>
</div>
     <div id="page-overlay"></div>
    <script src="css/sponsor.js">  </script>

</body>
</html>